In [1]:
import pandas as pd
import numpy as np

In [4]:
from sklearn.datasets import load_wine

In [9]:
data = data=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv",sep=";")

In [11]:
data.to_csv("wine_quality.csv")

In [12]:
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [16]:
data.describe().info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, count to max
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         8 non-null      float64
 1   volatile acidity      8 non-null      float64
 2   citric acid           8 non-null      float64
 3   residual sugar        8 non-null      float64
 4   chlorides             8 non-null      float64
 5   free sulfur dioxide   8 non-null      float64
 6   total sulfur dioxide  8 non-null      float64
 7   density               8 non-null      float64
 8   pH                    8 non-null      float64
 9   sulphates             8 non-null      float64
 10  alcohol               8 non-null      float64
 11  quality               8 non-null      float64
dtypes: float64(12)
memory usage: 832.0+ bytes

In [17]:
data.quality.value_counts()

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split
train,test = train_test_split(data, random_state=11)
X_train = train.drop("quality",axis=1)
X_test = test.drop("quality",axis=1)

y_train = train["quality"]
y_test = test["quality"]

In [24]:
X_train.shape,X_test.shape

((1199, 11), (400, 11))

In [25]:
y_train.shape,y_test.shape

((1199,), (400,))

In [26]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
245,7.3,0.660,0.00,2.0,0.084,6.0,23.0,0.99830,3.61,0.96,9.9
221,7.4,0.530,0.26,2.0,0.101,16.0,72.0,0.99570,3.15,0.57,9.4
752,7.6,0.540,0.13,2.5,0.097,24.0,66.0,0.99785,3.39,0.61,9.4
1143,7.0,0.220,0.30,1.8,0.065,16.0,20.0,0.99672,3.61,0.82,10.0
184,6.7,0.620,0.21,1.9,0.079,8.0,62.0,0.99700,3.52,0.58,9.3
...,...,...,...,...,...,...,...,...,...,...,...
332,8.0,0.580,0.28,3.2,0.066,21.0,114.0,0.99730,3.22,0.54,9.4
1293,7.5,0.755,0.00,1.9,0.084,6.0,12.0,0.99672,3.34,0.49,9.7
1361,8.3,0.850,0.14,2.5,0.093,13.0,54.0,0.99724,3.36,0.54,10.1
1115,7.0,0.690,0.07,2.5,0.091,15.0,21.0,0.99572,3.38,0.60,11.3
1104,8.0,0.480,0.34,2.2,0.073,16.0,25.0,0.99360,3.28,0.66,12.4

In [27]:
X_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1429,7.9,0.180,0.40,2.2,0.049,38.0,67.0,0.99600,3.33,0.93,11.3
260,7.9,0.330,0.23,1.7,0.077,18.0,45.0,0.99625,3.29,0.65,9.3
916,5.3,0.715,0.19,1.5,0.161,7.0,62.0,0.99395,3.62,0.61,11.0
1141,8.2,0.380,0.32,2.5,0.080,24.0,71.0,0.99624,3.27,0.85,11.0
1574,5.6,0.310,0.78,13.9,0.074,23.0,92.0,0.99677,3.39,0.48,10.5
...,...,...,...,...,...,...,...,...,...,...,...
1538,6.2,0.640,0.09,2.5,0.081,15.0,26.0,0.99538,3.57,0.63,12.0
25,6.3,0.390,0.16,1.4,0.080,11.0,23.0,0.99550,3.34,0.56,9.3
1046,7.6,0.780,0.00,1.7,0.076,33.0,45.0,0.99612,3.31,0.62,10.7
867,6.9,0.510,0.23,2.0,0.072,13.0,22.0,0.99438,3.40,0.84,11.2
1080,10.3,0.270,0.56,1.4,0.047,3.0,8.0,0.99471,3.16,0.51,11.8

In [28]:
y_train

245     6
221     5
752     5
1143    6
184     6
       ..
332     6
1293    4
1361    5
1115    6
1104    6
Name: quality, Length: 1199, dtype: int64

In [29]:
y_test

1429    5
260     5
916     5
1141    6
1574    6
       ..
1538    5
25      5
1046    6
867     6
1080    6
Name: quality, Length: 400, dtype: int64

In [34]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score,accuracy_score
model = RandomForestClassifier()
model.fit(X_train,y_train)
    ## Model Prediction
y_pred = model.predict(X_test)
    ## Error values 
     
score = accuracy_score(y_test,y_pred)

In [35]:
score

0.67

In [39]:
pred_proba = model.predict_proba(X_test)

In [40]:
roc = roc_auc_score(y_test,pred_proba,multi_class="ovr")

In [41]:
roc

0.823275554054208